<li data-container-id="<%= component.id %>">
  <div class="details">
    <div class="summary">
      <div class="tree-container">
        <div class="tree-title">
          <% if component.is_checkbox_requestable? %>
            <%= render "catalog/aeon_request_checkbox", document: component, class: 'x-printable', label_class: 'btn btn-outline-secondary btn-outline-request squat p-2' %>
          <% end %>
          <%= component.normalized_title %><%= component.unitid.present? ? " #{component.unitid}" : '' %>
        </div>
        <% if component.containers.present? %>
          <span class="box">
            <%= component.containers.join(', ') %>
          </span>
        <% end %>
      </div>
    </div>
    <%= render 'arclight/fragments/component_details', { component: component } %>
    <% if ( components = @components.select{ |v| v.parent_ids.last == component.reference } ).present? %>
    <ul>
      <% components.each do |subcomponent| %>
        <%= render 'arclight/fragments/component_tree', { component: subcomponent, level: level + 1 } %>
      <% end %>
    </ul>
    <% end %>
  </div>
</li>