<%# Copied from ArcLight core in order to customize locally %>
<%# Last checked for updates: %>
<%# ArcLight v0.3.0. %>
<%# https://github.com/projectblacklight/arclight/blob/master/app/views/catalog/_within_collection_dropdown.html.erb #%>


<div class="within-collection-dropdown input-group-prepend">

  <span class="sr-only" id="within_collection_label"><%= t('arclight.within_collection_dropdown.label_html') %></span>

    <select
      id="within_collection"
      class="custom-select search-field rounded-2"
      aria-labelledby="within_collection_label"
      name="scope"
    >
      <option
        value="all"
        <%= "selected" unless within_repository_context? || within_collection_context? %>
      >
        <%= t('arclight.within_collection_dropdown.all_collections') %>
      </option>
      <option
        value="repository"
        <%= 'selected' if within_repository_context? && !within_collection_context? %>
        <%= 'disabled' unless within_repository_context? %>
      >
        <%= t('arclight.within_collection_dropdown.this_repository') %>
      </option>
      <option
        value="collection"
        <%= 'selected' if within_collection_context? %>
        <%= 'disabled' unless within_collection_context? %>
      >
        <%= t('arclight.within_collection_dropdown.this_collection') %>
      </option>
    </select>

</div>
