<!DOCTYPE html>
<html>
<head>
  <title>Finding Aids</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'controller', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'controller', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag params[:controller], 'data-turbolinks-track': 'reload'  %>
  <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
</html>
